{% extends "base.html" %}

{% block content %}
  <h1>Name: {{ car.model }}</h1>
  <p><strong>Manufacturer: </strong>{{ car.manufacturer.name }}</p>
  <p><strong>Country: </strong>{{ car.manufacturer.country }}</p>
  <div class="ml-3">
    <h3>Drivers:</h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted">{{ driver.id }}</p>
      <p>{{ driver.username }} (License: {{ driver.license_number }})
      {% empty %}
      <p>No drivers!</p>
    {% endfor %}
  </div>
{% endblock %}
